# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/NEPAccess frontend source/App.txt
src/NEPAccess frontend source/DownloadFile.txt
src/NEPAccess frontend source/ForgotPassword.txt
src/NEPAccess frontend source/globals.txt
src/NEPAccess frontend source/index.css
src/NEPAccess frontend source/index.txt
src/NEPAccess frontend source/login.css
src/NEPAccess frontend source/Login.txt
src/NEPAccess frontend source/Logout.txt
src/NEPAccess frontend source/Main.txt
src/NEPAccess frontend source/MatchResults.txt
src/NEPAccess frontend source/MatchSearcher.txt
src/NEPAccess frontend source/RecordDetails.txt
src/NEPAccess frontend source/Reset.txt
src/NEPAccess frontend source/Searcher.txt
src/NEPAccess frontend source/SearchResults.txt
src/NEPAccess frontend source/UserDetails.txt
*.old
*.old2
src/NEPAccess.code-workspace
reactcert/key.pem
*.pem
