#main {
    /* margin-top: 102px; */
}

span.highlight {
    font-weight: bolder;
}

.note
{
    text-align: center;
    height: 80px;
    font-family: "open sans condensed";
    font-size: 40px;
    /* background: -webkit-linear-gradient(left, #0072ff, #8811c5); */
    /* color: #fff; */
    /* color: #8FBC3F; */
    color: #19369C;
    border-top: 2px solid rgb(198,198,198);
    border-bottom: 2px solid rgb(198,198,198);
    font-weight: 600;
    line-height: 80px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.form-content
{
    padding: 15px;
    padding-left: 0px;
    margin-bottom: 2%;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.inline {
    display: inline;
}

.login-form {
    /* margin-top: 102px; */
    min-width: 700px;
}

#login-modal {
    height: 350px;
    width: 400px;
}
.login-form-small {
    height: 100%;
    width: 100%;
    margin: auto;
}

.login-row {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-form-control {
    width: 250px;
    height: 24px;
    margin-bottom: 15px;
    padding: 2px 15px;
}

#login-show-password {
    padding: 0;
    margin-top: 15px;
    border: none;
}

/* #login-submit {
    width: 284px;
    height: 32px;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 15px;
    border-radius: 4px;
} */

#forgot {
    font-size: 20px;
}