#register-form {
    min-width: 700px;
    overflow: hidden;
    /* margin-top: 102px; */
}

#register-form #affiliation {
    width: 284px;
    padding: 0px;
}
#register-form #affiliation:hover>:first-child, #affiliation:hover>:nth-child(2) {
    background-color: rgb(230,255,230);
}
#affiliationOther:disabled {
    font-weight: bold;
    color: lightgray;
    background: white;
    border: lightgray solid 1px;
}
#affiliationOther:disabled::-webkit-input-placeholder {
    color: lightgray !important;
    }
     
    #affiliationOther:disabled:-moz-placeholder { /* Firefox 18- */
    color: lightgray !important;  
    }
     
    #affiliationOther:disabled::-moz-placeholder {  /* Firefox 19+ */
    color: lightgray !important;  
    }
     
    #affiliationOther:disabled:-ms-input-placeholder {  
    color: lightgray !important;  
    }


#register-select .creatable__menu-list {
    max-height: 400px;
}

#register-form input:enabled:hover {
    color: black;
    background-color: rgb(230,255,230);

    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

#register-form span.register-leading-text {
    display: inline-block;

    line-height: 29px;

    width: 195px;
    text-align: right;
}

#register-form .register-form-control {
    
    width: 250px;
    height: 24px;

    margin: 5px;
    margin-bottom: 15px;
    padding: 2px 15px;
}

#verifyEmailContent {
    padding: 20px;
}

/* #register-submit {
    width: 284px;
    height: 32px;

    font-size: 20px;
    line-height: 20px;

    padding: 2px 15px;
    margin-left: 5px;
    
    border-radius: 4px;
} */

/* #register-captcha {
    padding-left: 195px;
} */

.label-holder {
    height: 24px;
}

.successLabel.large {
    display: block;
    padding: 5%;
    width: 90%;
    background: white;
    font-size: 30px;
}

.padding{
    padding-left: 5%;
}