.modal-title {
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    width: 160px;
}

.modal-results {
    /* Prevents scrolling when tabbing through results */
    min-height: 500px;
}

.ReactModal__Overlay--after-open {
    z-index: 99999;
}

.ReactModal__Content {
  height: 50%;
  width: 50%;
  min-width: 400px;
  min-height: 300px;
  margin: auto;
}

.ReactModal__Content table.details tbody tr td {
  margin: 0;
  padding: 0;
}

#tooltip2Mark {
    position: absolute;
    
    margin-left: 12px;
    margin-top: 10px;
  
    width: 20px;
    height: 20.72px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 111%;
    /* or 20px */
  
    color: #000000;
  }
  
  #tooltip2 {
    position: absolute;
    
    /* margin-left: -62px; */
    margin-top: 4px;
  
    width: 32px;
    height: 31.57px;
  }

  .titleMatchForm input{
      height: 10px;
  }
  
  .titleMatchForm input[type="checkbox"]{
    height: 16px;
}

  .matchSearchLabel {
      /* margin-left: 38px; */
      margin-right: 20px;
      display: inline-block;
      font-weight: bold;
      line-height: 40px;
  }

#details {
    margin: 5px;
    margin-left: 25px;
    /* margin-top: 102px; */
    padding-bottom: 5px;
}