{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": true,
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "jsxBracketNewLine": false,
  "arrowFunction": true
  
}
