#about-nepa-content {
    /* min-width: 1000px; */
    width: 40%;

    position: relative;

    margin: auto;
    padding-top: 70px;

    /* background: #FBFBF6; */
    background: #F8F9FA;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
}
#about-nepaccess-banner, #about-nepa-banner {
    height: 212px;
    max-width: 1439px;
    margin: auto;
    /* margin-top: 102px; */
}

#about-nepaccess-banner {
    background-image: url("assets/about_nepaccess_banner.png");
}

#about-nepa-banner {
    background-image: url("assets/about_nepa_banner.png");
}

/* #about-nepaccess-side-image {
    position: absolute;
    width: 350px;
    height: 220px;
    left: -300px;
    top: 103px;
    
    background-image: url("assets/bitmaplogo_nolayers.png");
} */

#about-nepaccess-nsf-logo {
    position: absolute;
    display: inline-block;

    width: 250px;
    height: 200px;

    /* top: 640px; */
    right: 300px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("assets/bitmaplogo_nolayers.png");
}

#about-nepaccess-ua-logo {
    position: absolute;
    display: inline-block;

    width: 250px;
    height: 200px;

    /* top: 640px; */
    right: 50px;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("assets/ua_stack_rgb_4_0.png");
}

#about-nepa-side-image {
    position: absolute;
    width: 250px;
    height: 200px;
    right: -260px;
    top: 140px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("assets/nixon.png");
}

.flex-contact-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-contact {
    display: flex;
    width: 450px;

    flex-direction: column;
}

.flex-image-box {
    display: flex;

    flex-direction: row;
}

.flex-image {
    display: flex;

    width: 250px;
    height: 200px;

    background-repeat: no-repeat;
    background-size: contain;
}

#ua-logo {
    background-image: url("assets/ua_stack_rgb_4_0.png");
}

#nsf-logo {
    background-image: url("assets/bitmaplogo_nolayers.png");
}

.about-nepa-title {
    display: block;

    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    
    margin-top: 0;
    margin-bottom: 49px;

    color: #8FBC3F;
}

.about-nepa-bold {
    display: block;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 26px;

    color: #000000;
}

/* .about-nepa-subhead, .about-nepa-subhead2 {
    display: block;

    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 13px;

    margin-top: 39px;
    margin-bottom: 13px;


    color: #000000;
}

.about-nepa-subhead2 {
    margin-bottom: 39px;
} */

.about-nepa-table {
    /* margin-bottom: 100px; */
    margin-bottom: 20px;
}

.about-nepa-table td:first-child {
    width: 20px;
    padding-left: 5px;
    vertical-align: top;
}

.about-nepa-table>tr>td {
    padding-bottom: 25px;
}

.default-style {
    display: block;
    
    margin-bottom: 24px;
}

.about-nepa-button {
    cursor: pointer;

    text-decoration: none;
    color: #0091BE;
}

/* .about-nepaccess-contact-header {
    display: block;
    
    margin-top: 72px;

    font-weight: bold;
} */


.about-nepaccess-contact-header {
    display: flex;
    font-weight: bold;
}

/* .about-nepaccess-contact-content {
    display: block;
} */
.about-nepaccess-contact-content {
    display: flex;
}

.personnel-header {
    display: block;
    
    margin-top: 0;
    margin-bottom: 1em;

    font-size: 1em;
    font-weight: bold;
}

.about-block {
    display: block;

    text-indent: -1.5em;
    margin-left: 1.5em;
    
    margin-top: 0;
    margin-bottom: 1em;
}

.italic-header {
    display: block;

    font-size: 1em;
    /* font-size: 1.1em; */

    margin-top: 0;
    margin-bottom: 0;

    font-weight: normal;
    font-style: italic;
}

.about-name {
    font-weight: bold;
    /* font-size: 1.15em; */
    /* font-family: "Times New Roman"; */
}

span.about {
    display: inline;

    /* font-size: 1.15em; */
    /* font-family: "Times New Roman"; */
}

label.block {
    display:block;
}