#approve {
    /* margin-top: 102px; */
    padding: 25px;
}

#approve .tabulator-header {
    display: block;
}

#approve .instructions {
    background: white;
    border: 1px red solid;
    padding: 5px;
}

#approve .tabulator, #admin-files .tabulator {
    min-height: 420px;
}