#contact-form {
    min-width: 750px;
    /* margin-top: 102px; */
}

#contact-form .errorLabel {
    margin-left: 5px;
}

#contact-form-content {
    padding: 15px;
    min-width: 1200px;
}

#contact-form-left {
    display: inline-block;
    
    vertical-align: top;
}

#contact-form #contact-subject-container:hover>:first-child,
#contact-subject-container:hover>:nth-child(2) {
    background-color: rgb(230,255,230);
}

#contact-form input:enabled:hover {
    color: black;
    background-color: rgb(230,255,230);

    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

#contact-form span.contact-leading-text {
    display: inline-block;

    font-weight: bold;
}

.contact-form-control {
    font-size: 18px;
    display: block;
    width: 300px;
    padding: 7px;
    margin: 0px 0px 10px 0px;

    border-radius: 0px;
    border: 1px solid black;
}
input[type="text"].contact-form-control {
    height: 20px;
}

#verifyEmailContent {
    padding: 20px;
}

/* #contact-submit {
    width: 200px;
    color: white;
    background: #555;

    border-radius: 0px;
    border: solid 2px #333;
    -moz-box-shadow: 1px 1px 5px #111;
    -webkit-box-shadow: 1px 1px 5px #111;
        box-shadow: 1px 1px 5px #111;

    margin-left: 50px;
} */

#contact-form #contact-subject-container {
    border: none;
    padding: 0px;
    padding-top: 3px;
    /* width: normal input plus horizontal padding plus 2*border */
    width: 316px; 
}

#contact-subject-container>div {
    border-radius: 0px;
    width: 316px; 
    border: black 1px solid;
}

#contact-message {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#contact-address {
    display: inline-block;
    /* border: 1px green solid; */
    padding: 4px;
    margin-left: 50px;
    margin-top: 10px;
}
#contact-address span {
    display: block;
}

#contact-address>span:first-child {
    font-weight: bold;
}