@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:400,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');

body, #home-page, #root {
  min-width: 600px;
}

html {
  scroll-behavior: auto;
  font-family: "Open Sans";
  height: calc(100% - 102px);
  box-sizing: border-box;
}

body {
  /* background: #FBFBF6; */
  background: #F8F9FA;
  margin: 0;

  display: flex;
  flex-direction: column;
}


#home-page {
  position: relative;
  margin: auto;

  /* background: #FBFBF6; */
  background: #F8F9FA;
}
#header-root-app-bar{
    background-color: #C4C4C4 !important;
    background-image: url(assets/home-page-image_9-21-22.jpg) !important;
    background-repeat: 'no-repeat';

}
#paper-root{
    background-color: #C4C4C4;
}
#header {
  width: 100%;
  height: 102px;

    align-items: space-around;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: contain;
    background-size: cover;
    background-image: 'logo2022.png';
    border: '1px solid green';  
    background-position: 0;
    background-size: contain;
     background-color: #C4C4C4;
  box-sizing: border-box;
  z-index: 99999; /* Geojson map introduces some very high z-index items */

  /* background: #8FBC3F; */
  background: #B6C4C8; 
}

/* Header contents */
#root-paper-container{
    border: 3px solid green;
    width: 100%;
    background-color: #abbdc4;
}

#logo {
    position: absolute;
    top:0;
    left:0;
    border-color: #8FBC3F;
    flex-grow: 1;
    width: 100%;
}

#logo-link {
    z-index: 2;
}

/* Logo contents */

#logo-link, #logo-box {
    position: absolute;
    /* width: 360px; */
    width: calc(25vw + 15px);
    min-width: 315px;
    max-width: 390px;
    height: 102px;

}
#logo-grid-container{
    border:3px solid red;
    flex-direction: row;
    width: 100%;
    display: inline;
}
#logo-grid-item {
    background-color: 'transparent';
    flex-grow: 1;
    width: 100%;
    margin-left: 0;
    border: 3px solid blue;
    justify-content: space-around;
    display: flow-root;
}
#desktop-nav-container {
				background-color:  red;
				justify-items: flex-end;
				justify-content: flex-end;
				border: 3px solid blue;
                flex-grow: 1;
                height: 102px;
                width: 100%;
                justify-content: right;


}

#logo-box {
    /* position: absolute; */

    /* background-color: white; */
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: contain;
    background-size: cover;
    /* background-image: url("assets/nepaccess\ 1x.png"); */
    /* background-image: url("assets/thumbnail_logo-beta.png"); */
    background-image: url("assets/NEPAccess logo2022_BETA.png");
border: '1px solid green';
    margin-left: 0px;
    margin-right: -24px;
    width: 302px;
    height: 102px;
}

#logo-type {

  width: 289x;
  height: 122px;
  
  /* Center vertically using top 50% and margin - half of height */
  /* top: 50%; */
  margin-top: -61px;
  z-index: 1;
}

#nav-links-container{
    width: 100%;
    background-color: darkgray;
    border: 3px solid blue;
}
#nav-links{
    max-width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-left: 350px;
    display: flex;
    width: 100%;
    background-color: darkgray;
}
#logo-type #NEP {
  position: absolute;
  width: 139.34px;
  height: 78px;
  left: 48.8px;
  top: -10px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.03em;

  color: #000000;
}

#logo-type #A {
  position: absolute;
  width: 107.74px;
  height: 67px;
  left: 123.54px;
  top: 46px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 147px;
  display: flex;
  align-items: flex-end;
  
  color: #DC3131;
  
}

#logo-type #ccess {
  position: absolute;
  width: 150.83px;
  height: 23px;
  left: 198px;
  top: 64px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;

  color: #000000;
  
}

/* End logo contents */

#top-menu {
    /* background: rgb(170,200,100); */
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    right: 0;
    top: 0;
}

#admin-button {
    font-size: 12px;
}

.top-menu-link {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;

  text-decoration: none;

  color: #000000;
}

.top-menu-link:hover {
    color: white;
    text-shadow: 1px 1px 10px black;
}

/* .right-nav-item:first-child {
    margin: 0;
    padding-right: 10px;
    border-right: 2px black solid;
} */
/** Temporarily disabled register, right-border */
/* #admin-span, #profile-span, #login-span {
    margin: 0;
    padding-right: 10px;
    border-right: 2px black solid;
} */
#admin-span, #profile-span {
    margin: 0;
    padding-right: 10px;
    border-right: 2px black solid;
}
  
.right-nav-item,
#profile-span {
    margin-left: 10px;
}

#main-menu {
    position: relative;
    /* left: calc(25vw + 10px); */
    margin-left: clamp(315px, calc(25vw + 15px), 390px); 
    min-width: 400px;
    height: 52px;
    top: 50px;
}
#main-menu>.main-menu-link:first-child{
    margin-left: 25px;
}
/* #main-menu>.main-menu-link,
#main-menu .drop-button
 {
    margin-left: clamp(10px, 2%, 40px); 
    font-size: calc(20% + 1vw);
}
#main-menu i
 {
    display: inline;
    margin-left: 0px;
} */
#mobile-paper-container{
    background-color: #abbec3;
}
#mobile-drawer-container{
    background-color: #abbec3
}
.main-menu-link {
  position: relative;
  float: left;
  margin-left: 40px;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: inline-flex;
  align-items: flex-end;
  
  color: #000000;

  cursor: pointer;
  text-decoration: none;
  
}
.main-menu-link:hover {
    color: white;
}

#bottom-border-header {
  position: fixed;
  width: 100%;
  min-width: 1440px;
  top: 102px;

  border: 4px solid #FFFFFF;
}

/* End header content */

/* Main page should have a margin equal to the header size: */
.content {
    position: relative;
    margin: auto;
    margin-top: 102px;

    min-width: 900px;

    /* background: #FBFBF6; */
    background: #F8F9FA;
}

.spacer {
    margin-top: 102px;
}

#app-content {
    min-width: 1300px;
}
/* .footer-content {
    margin-bottom: 15px;
} */

/* Special tags */

*[hidden] { 
    display: none !important; 
}
*[currentpage="true"] { 
    font-weight: bold !important;
    color: white !important;
}

.display-none {
    display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block;
}

.flex-center {
  display: inline-flex;
  align-items: center;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.right {
    float: right;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

button {
  cursor: pointer;
}

.errorLabel {
  color: coral;
  font-style: italic;
  position: absolute;
  /* top: -20px; */
}
.successLabel {
  color: green;
  font-style: italic;
}
.muiAppBar{
    height:102px;

}

#mobile-app-bar {
    color: '#000';
    elevation: 1;
    height: '105px';
    flexFlow: 'row nowrap';
    justifyContent: 'space-between';
    justifySelf: 'center';
    alignItems: 'center';
    backgroundColor: 'transparent';
}

#app-content>.errorLabel {
    top: -20px;
}

.underline {
    text-decoration: underline !important;
}

.disabled_download {
  pointer-events: none;
  cursor: default;
  
  /* background: lightgray !important; */
  border: none;
  /* padding: 0;
  padding-left: 1em; */
  color: black;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

.tabulator-cell button {
  text-align: left;
}

span.email-text {
  cursor: text;
}

.loginErrorLabel, .networkErrorLabel {
  display: inline-block;
  padding: 0 0 0 25px;
  color: coral;
  font-style: italic;
}

.infoLabel {
  display: block;
  color: darkblue;
}

#date input.no-margin, .no-margin {
  margin: 0px;
}

.center {
  position: relative;
}
.center>div {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.logged-out-header {
  display: block;
  margin: 1em;
  margin-top: 5em;
  font-size: 2em;
}

.title-color {
    color: #8FBC3F;
}

/* allow <a> to be links inside tooltips */
.tippy-popper a { 
    pointer-events: all;
}
.tippy-popper>.tippy-tooltip--small [x-circle] {
    background: none;
}

.tooltip-header {
    font-weight: bold;
    text-align: center;
}

.button {
    font-size: 2em;
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    background: white;
    color: #555;
}
.button:hover {
    background: wheat;
}
.button:disabled, .button2:disabled {
    color: #888;
}

.button2 {
    color: rgb(113,139,200);
    font-size: 24px;
    padding: 10px 36px;
    border: 2px rgb(113,139,200) solid;
    /* border-radius: 0px; */
    cursor: pointer;
    display: block;
    background: white;
}
.button2:hover {
    /* background: rgb(255,240,255); */
    background: #53BABD;
    color: white;
}

.react-select__control {
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.react-select__value-container>.react-select__multi-value {
    /* background: lightgreen; #90ee90 */
    background-color: #b2c5f5;
}

.margin {
    margin-left: 10px;
}
.margin-top {
    margin-top: 15px;
}
.text-center {
    text-align: center;
}

.bold {
    font-weight: bold !important;
}
.normal {
    font-weight: normal !important;
}

/* New dropdown for help submenus */
/* #help-dropdown, #about-dropdown { */
    /* height: 60px; */
/* } */
#about-dropdown-2:hover > .dropdown-content {
    display: block;
    position: absolute;
    left: -54px;
    text-align: center;
} 


.dropdown {
    display: block;
    float: left;
}
.drop-button {
    display: block;
    position: relative;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
    height: 25px;
}
.dropdown-content {
    display: none;
    z-index: 2;
}
.dropdown-content a {
    display: block;
    float: none;
    width: 182px;
    
    text-decoration: none;
    color: black;
    background-color: white;
    
    padding: 5px;

    border: 2px solid #C4C4C4;
    border-top: none;
}
.dropdown-content a:first-child {
    border-top: 2px solid #C4C4C4;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown-content a:active {
    /* background-color: #8FBC3F; */
    background-color: #B6C4C8;
}
.dropdown:hover > .dropdown-content {
    display: block;
    position: absolute;
    /* top: 50px; */
    left: -31px;
    text-align: center;
}

#help-button, #about-button, #admin-button, #about-button-2 {
    margin-right: 10px;
}

.green {
    /* color: #669e03; */
    color: #348ECF;
}

.center {
    text-align: center;
    margin: auto;
}

.warning {
    color: red !important;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: #0067B1;
}

#process-results .tabulator-cell a.link:hover, .side-link:hover {
    /* color:#8FBC3F; */
    color: #348ECF;
}

/* resurfeced contact/register/login page css */

#contact-form-content {
    padding-left: 0px !important;
}
.logo-size {
    width: clamp(315px, calc(25vw + 15px), 390px); 
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

span.leading-text {
    float: left;

    width: clamp(310px, calc(25vw + 10px), 385px) !important; 

    padding-left: 0px !important;
    padding-right: 5px !important;

    margin-left: 0px !important;
    margin-top: 5px;

    text-align: right !important;

    font-weight: 700;
}
.form-control {
    display: inline-block;
    
    width: 300px;
    height: 20px;

    margin-left: 0px !important;
    margin-top: 0px;
    padding: 7px;

    border-radius: 0px;
    border: solid black 1px;
}
.register-form-group {
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 30px;
}
.logo-left {
    display: inline-block;
    margin-left: clamp(315px, calc(25vw + 15px), 390px); 
    padding-left: 5px;
}
.contact-form-control {
    display: inline-block;
}


.creatable__control {
    width: 316px;
    height: 36px;

    padding: 0px;
    
    border-radius: 0px !important;
    border: solid black 1px !important;
}

.creatable__value-container {
    height: 34px;
}

/* #footer {
    display: block;
    position: relative;
    bottom: 0;

    padding-bottom: 2px;

    background: white;

    border-top: 1px solid black;

    height: 15px;
    font-size: 10px;
    text-align: center;
} */

#footer {
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.form-control~.errorLabel, #register-select~.errorLabel {
    margin-left: 5px;
}

.padding-left {
    padding-left: clamp(320px, calc(25vw + 20px), 395px);
}

.float-right {
    float: right;
}

.propFilename {
    font-size: 15px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.detail-filename:last-child {
    margin-bottom: 15px;
}

.padding-all {
    padding: 1%;
    border: 1px solid blue;
}

.deduplicator-tab {
    display: inline-block;
    width: 47%;
    padding: 1%;
    border: 1px dotted blue;
}

.border-red {
    border-color: red;
}

textarea.server-response {
    display: flex;
    width: 100%;
    min-height: 100px;
}

.margins {
    margin: 5px;
}
.missing {
    /** Take up the same height as the download button (applies to details page also) */
    line-height: 49px;
    color: coral;
    font-weight: normal !important;
}

.table-holder>div {
    width: 100%;
}

#register-span {
    padding-left: 10px;
    border-left: 2px solid black;
}

.results-count-holder {
    /* background-color: rgba(219, 217, 217, 1); */
    background-color: #E7EAEA;
}

.flex-1 {
    display: flex !important;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.height-30 {
    line-height: 30px;
}

input[type="checkbox"] {
    vertical-align: middle;
}

button.modal-close {
    float: right;
    margin-bottom: 10px;
}

.maintenance-message {
    font-style: italic;
    background-color: white;
    color: #0067B1;
}

.info-svg {
    fill: #324EB3;
}

/** Avoid this scenario: When a developer sets the font size less than 16 pixels on any form element,
    mobile browsers intervene and force the UI or Page to zoom so that the texts are readable enough. */
@media screen and (max-width: 767px) {
    input, select, textarea {
        font-size: 16px !important;
    }
    #landing-search-icon {
        margin-bottom: -21px;
    }
    #landing-search-bar-holder>svg.cancel-icon {
        margin-bottom: -7px;
    }
}
/** may fix new problem with undesirable browser-controlled zooming in on focused elements */
input{ touch-action: none; }