/* Landing */
#landing {
    position: relative;
    /* height: 100%;
    width: 100%; */
    /** The search box now has a percentage-based position, which means the overall page
    needs a minimum height that does not clip into the header texts. This needs to change if the landing text changes. */
    /* min-width: 750px; */
    
    margin: auto;
    /* margin-top: 102px; */
}

#headline {
    display: block;
    position: relative;
    width: 100%;

    /* padding-top: 70px; */

    font-weight: bold;
    text-align: center;
}

#landing-headline-text {
    font-size: 36px;
    line-height: 140%;
    font-weight: 700;

    margin-top: 102px;
}

span.glow {
    text-shadow: 0px 0px 50px rgba(6, 93, 134, 1);
}

#sub-headline {
    min-height: 100px;

    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-top: 10px;
    margin-block-end: 0.5em;
    letter-spacing: .5px;
}

#headline,
#subhead {
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    /* font-size: calc(24px + 0.5vw); */
    color: #FFFFFF;
    /* text-shadow: 0 4px 2px rgba(0, 0, 0, 0.5); */
    text-shadow: none;
}

#landing-images {
    /* min-height: 400px;
    height: 50%;
    width: 100%; */
    height: calc(100vh - 350px);
    min-width: 800px;
    min-height: 600px;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(180deg, rgba(0, 57, 61, 0.75) 33.33%, rgba(2, 78, 83, 0.3075) 83.33%), url("assets/trees-buildings_2_2000.jpg"); */
    background-image: url("assets/home-page-image_9-21-22.jpg");
}

#landing-headline-container {
    /* align-items: center; */
    text-align: left;
    width: 87%;
    max-width: 1120px;
    margin: 0 auto;

    padding-top: 140px;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;  
    -webkit-column-gap: 120px; /* Chrome, Safari, Opera */
    -moz-column-gap: 120px; /* Firefox */
    column-gap: 120px;
    -webkit-column-rule: 2px solid #dbdbdb; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px solid #dbdbdb; /* Firefox */
    column-rule: 2px solid #dbdbdb;
}
#landing-headline-left {
    font-size: 36px;
    line-height: 140%;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: normal;
    color: #FFFFFF;
    text-shadow: none;
    -webkit-column-span: 50%; /* Chrome, Safari, Opera */
    column-span: 50%;
}
#landing-headline-right {
    font-family: "Open Sans";
    font-style: normal;
    color: #FFFFFF;
    text-shadow: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    
    letter-spacing: .5px;
    -webkit-column-span: 50%; /* Chrome, Safari, Opera */
    column-span: 50%;

    padding-top: 20px;
}

#header.landing-header {
    /* background: rgb(151,171,178) !important; */
    background: none;
    -webkit-transition: background 0.6s; /* Safari */
    transition: background 0.6s;
}
#header.landing-header.transition {
    background: #B6C4C8;
}

/* Search box */
#landing-search-box-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* width: clamp(557px, 72%, 1200px); */
    width: 76%;
    max-width: 1100px;
    margin-top: 50px;
}

#landing-search-holder {
    /* Allow centering of child element #landing-search-bar-holder */
    position: relative;
    /* height: 170px; */
    height: 250px;

    /* Start search bar header text on left side */
    text-align: left;
    
    /* background: rgba(0, 0, 0, 0.5); */
}

#landing-search-bar-holder {
    /* Center contents horizontally and a certain amount vertically */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);

    width: 86%;

    /* Hopefully fixes Safari moving this to a new line sometimes */
    white-space: nowrap;
}
#landing-search-header {
    color: white;

    padding-left: 10px;
    padding-bottom: 10px;
    height: 33px;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0;
}

/* adapted from sidebar.css .search-bar */
#landing-search-bar {
    height: 54px;
    /* Need to exactly subtract border px as well as left and right padding px size */
    width: calc(100% - 144px);
    
    /* background: linear-gradient(to right, #FFFFFF 0%,#FFFFFF calc(100% - 54px),#8FBC3F calc(100% - 80px),#8FBC3F 100%); */
    background: linear-gradient(to right,  #FFFFFF 0%,#FFFFFF calc(100% - 54px),#F1D40A calc(100% - 80px),#F1D40A 100%);
    
    border: 4px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    /* border-radius: 4px; */

    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;

    padding-left: 30px;
    padding-right: 110px;
}

/* End search box */

.under-search-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    margin-top: 30px;

    /* Same as search holder min/max width */
    min-width: 557px;
    max-width: 1200px;
}

.flip {
    display: inline-flex;
    flex-direction: column;

    width: 180px;
}
.flip .flip-top, .flip section {
    height: 47px;
    line-height: 37px;
    padding: 5px;
    
    border: solid white 1px;
}
.flip .flip-range {
    height: 51px;
    line-height: 51px;
    padding: 3px;

    font-size: 23px;
}
.flip-span {
    display: inline-block;
    margin-top: 10px;
}
.transparent-background {
    padding: 6px 11px;
    height: 47px;
    line-height: 47px;
    background: rgba(0,0,0,0.5);
}
a.link.landing-link {
    padding: 0 10px;
    display: block;
    color: lightskyblue;
    font-size: 14px;
    line-height: 24px;
}

a.link.landing-link:hover {
    color: white;
}