.reset {
  display: none;
}
.map-top-container {
    /** seems to fix anomalous fragments "escaping" container and also keeps the page width stable while this happens */
    overflow: hidden;
}
.leafmap_container {
    height: 400px;
}
.leafmap {
    height: 400px;
    width: 100%;
}
.map-container {
    background: white;
    padding: 20px;
    border: 2px solid rgb(220,220,220);
    margin-bottom: 20px;
    margin-right: 20px;
    flex: 3 1;
}
.map-header {
    margin-top: 0px;
}


.map-container-internal {
    margin-top: 25px;
}
.metadata-container h3.map-header {
    margin-bottom: 20px;
}


.map-loading-tooltip {
    display: inline-block;
    background: white;
    position: absolute;
    margin-left: 50px;
    z-index: 500;
}

.toggle-container-row {
    height: 28px; /* should match margin offset */
    /* margin-top: -28px; */
}
.toggle-container {
    float: right;
}
.map-toggle-title {
    cursor: pointer;
    margin-right: 47px;
}
.map-filters-toggle {
    position: absolute;
    margin-left: -42px; /* width+border+20px */
    margin-top: -1px;

    width: 20px;

    color: #0067B1;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;

    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    z-index: 500;
}
.map-layers-toggle {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;

    width: 126px;

    background-color: rgba(184, 247, 255, 0.8);

    z-index: 500;
}

.map-layers-toggle>.checkbox-container:first-child {
    margin-bottom: 20px;
    line-height: normal;
}

.map-layers-toggle>.checkbox-container:first-child>label.checkbox-text {
    line-height: normal;
}

div.leaflet-control-zoom {
    user-select: none;
}

/* Defining our own ZoomControl, so hide the default top left one. */
div.leaflet-control-container>div.leaflet-left>div.leaflet-control-zoom {
    display: none;
}

path.leaflet-interactive {
    stroke-width: 1;
}
.leaflet-interactive:hover {
    fill: yellowgreen;
    fill-opacity: 0.2;
}

div.leaflet-popup.leaflet-zoom-animated, div.leaflet-popup.leaflet-zoom-animated * {
    animation: _disappear;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: _disappear;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
/** for some reason this was the easiest way to "remove" the element after the animation completes. It exists until
another click somewhere on the map. Until then, it blocks click events even if it's invisible. So the key was
setting width and/or height to 0. Transform didn't work as expected.
Strange effects while still visible without overflow: hidden.
Still takes a while to animate the height to 0 at the end, but it's unclickable after a few seconds. */
@keyframes _disappear {
    0% { opacity: 1; }
    99% { opacity: 0; height: initial;
    }
    100% { opacity: 0;
        overflow: hidden;
        height: 0;
    }
}
@-webkit-keyframes _disappear {
    0% { opacity: 1; }
    99% { opacity: 0; height: initial;
    }
    100% { opacity: 0;
        overflow: hidden;
        height: 0;
    }
}