/* Non landing search styling */

.search-label {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 28px;
  margin-left: 122px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  /* or 20px */

  color: #FFFFFF;

  z-index: 2;
}

#searcher-container {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1140px;
  height: 220px;
  background: #737272;
}

#searcher-inner-container {
  position: relative;
  margin-left: 97px;
  width: 850px;
  height: 100px;
  top: 55px;
}

#search-mode {
  position: absolute;
  width: 200px;
  text-align: left;
  right: -10px;
  top: 86px;

  display: inline-flex;
  align-items: center;
  line-height: 32px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 100px; */
  /* or 20px */

  cursor: pointer;

  /* color: #64D6FA; */
  color: white;
}

/* #search-mode-container {
  position: absolute;
  text-align: left;
  width: 200px;
  right: -23px;
  top: 75px;

  text-decoration: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #64D6FA;
}

#search-mode-container>* {
  margin-bottom: 8px;
  cursor: pointer;
} */

#fulltext-mode {
  
  position: absolute;
  text-align: left;
  width: 200px;
  right: -15px;
  top: 0px;

  /* text-decoration: none; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  cursor: pointer;

  color: #64D6FA;
}

#search-by {
  margin-right: 10px;
}

#post-search-box-text, .post-search-box-text {
  height: 27px;

  font-family: "Open Sans";
  font-size: 12px;
  /* or 13px */

  margin-top: 8px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.advanced-radio {
  width: 800px;
  display: inline-flex;
  justify-content: space-evenly;
}

.advanced-radio label {
  margin-right: 80px;
}

/* Advanced search table */

#advanced-search-box {
  position: relative;
  width: 1140px;
  height: 248px;
  
  background: white;
  margin: auto;
  padding-top: 15px;
  border: 1px solid black;
  border-top: none;
}

#advanced-search-box tr {
  vertical-align: top;
}

#advanced-search-box tr td:first-child {
  width: 360px;
  padding-left: 48px;
}

#advanced-search-box tr td:nth-child(2) {
  width: 365px;
  padding-left: 64px;
}

#advanced-search-box tr td:nth-child(3) {
  height: 86px;
  padding-left: 64px;
}

#advanced-search-box .advanced-label {

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: black;
  border: 1px solid white;
}

input[type=radio] {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;

  margin-right: 7px;
}

#advanced-search-box tr td input[type=checkbox] {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

  margin-left: auto;
  
  cursor: pointer;
}

#advanced-search-box .advanced-checkbox-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #000000;

  border: 1px solid #FFFFFF;

  cursor: pointer;
}

/* Advanced search react-select elements */

#advanced-search-box .react-select__placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */

  display: flex;
  align-items: center;

  color: #737272;
}

#advanced-search-box .react-select__control {
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  
  cursor: pointer;
}

#advanced-search-box .multi {
  width: 355px;
}

.suggestion-holder {
    margin-left: 25px;
}

/** React-select custom styling within advanced search box */

.react-select__menu-list>.react-select__option--is-focused {
    background: #b2c5f5;
}

/* #advanced-search-box .react-select__dropdown-indicator, #advanced-search-box .react-select__clear-indicator, #advanced-search-box .react-select__indicator-separator {
    display: none;
} */

#advanced-search-box .down-arrow {
  position: absolute;
  width: 17px;
  height: 16px;
  margin-top: 12px;
  margin-left: -34px;
  
  pointer-events: none;
}

#advanced-search-box .down-arrow path {
  display: inline-block;
}

/* Custom datepicker style */
#advanced-search-box .date {
  width: 136px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  background: #FFFFFF;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #737272;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  
}

#advanced-search-box .date-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  border: 1px solid #FFFFFF;
}

#excludeLabel {
  width: 270.37px;
  height: 27.62px;
  margin-left: 25px;
  margin-right: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  /* or 20px */

  color: #FFFFFF;
}

#searchTitleNone {
  margin-top: 20px;
  height: 40px;
  width: 600px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/** Tooltip styling */

.side-link[aria-expanded=true] {
    color:rgb(100,50,255);
}

#tooltip1Mark {
  position: absolute;
  
  margin-left: -65px;
  margin-top: 15px;

  width: 20px;
  height: 20.72px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 111%;
  /* or 20px */

  color: #000000;
}

#tooltip1 {
  position: absolute;
  
  margin-left: -77px;
  margin-top: 9px;

  width: 32px;
  height: 31.57px;
}
.tippy-tooltip--small.searchTips {
    width: 260px;
    padding: 10px;
    font-family: "Open Sans";
    font-size: .8rem;
    font-style: normal;
    font-weight: normal;
    line-height: 111%;
    text-align: left;
    color: black;
    background: white;
}
.tippy-tooltip--small.searchTips.padding2 {
    padding: 8px 4px;
}
.tippy-tooltip--small {
    width: 260px;

    color: black;
    background: #FFFFFF;

    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.15);
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 111%;
    /* or 11px */
    
    text-align: left;
}

.tippy-tooltip p {
  font-size: 11px;
  margin: 10px 10px;
}

.tooltip-connector {
    display: inline-block;
    
    width: 55px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

/** Tooltip right-facing arrow - replaces all tooltip arrows */
/* .arrow-regular {
  border-left: 7px solid white !important;
} */

#falseAdvanced {
    position: relative;
    width: 1140px;
    height: 248px;
    
    /* background: #FBFBF6; */
    background: #F8F9FA;
    margin: auto;
    padding-top: 20px;
}

.tabulator-cell, .link {
    padding: 0;
}

button.link, button.download, a.link {
  
  /* text-align: center; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13.3333px;
  line-height: 111%;
  /* padding: 0; */
  /* or 20px */

  cursor: pointer;

  color: darkblue;
  background: none;
  border: none;
}

button.document-download {
    /* padding-left: 0px !important; */
    margin-left: 0.5em;
    height: 32px;

    color: black;
    /* background-color: #8FBC3F; */
    background-color: #B2C5F5;

    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    text-align: center;

    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 4px;
    /* width: 50%; */
}
button.document-download:hover {
    /* background-color: rgb(100,255,100); */
    background-color: #7C96F1;
}

a.link {
    text-decoration: none;
}

#search-results {
    min-width: 950px; 
}

.modal-results {
  min-width: 1050px;
}

/* span.fragment {
  display: inline-block;
  margin-bottom: 3px;
} */

/** No need to add space below the final text snippet */
/* .fragment:nth-last-of-type(1) { 
  margin-bottom: 0;
} */

/* span.fragment:hover {
  text-decoration: underline;
} */

/* .fragment:nth-of-type(odd) {
  background-color: rgb(244, 244, 244);
}
.fragment:nth-of-type(even) {
  background-color: rgb(222, 222, 222);
} */

.sort-container {
    float: right;
    margin-right: 20px !important;
    margin: auto 0;
    min-width: 331px;
}

.dropdown-text {
    font-weight: bold;
    margin-right: 20px;
}

#post-results-dropdown {
    line-height: 20px;
    width: 150px;
}
#post-results-dropdown-order {
    line-height: 20px;
    width: 100px;
}

/* CSS spinner */

.loader-holder {
    height: 80px;
    margin: auto;
}

.lds-ellipsis {
    display: block;
    position: relative;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    /* background: black; */
    /* background:#8FBC3F; */
    background: #4263DC;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
#main-search-bar {
    border: 2px solid black;
    margin-left: 15px;

    padding-left: 210px;
    padding-right: 110px;
    width: calc(79% - 320px);
}

#search-proximity {
    position: absolute;
    width: 195px;
    /* margin-left: -249px; */
    margin-left: 17px;
    margin-top: 2px;
    height: 56px;
    line-height: 42px;
}
#search-proximity .control__control {
    height: 56px;
    border-radius: 0px;
    border: none;
}
#proximity-select>div.control__control>div.control__indicators>div.control__indicator::after {
    content: '';
    width: 2px;
    height: 60px;
    background: black;
    position: absolute;
    z-index: 1;
    margin-top: -20px;
    margin-left: 26px;
    cursor: inherit;
    user-select: none;
}
.react-select.control__menu {
    z-index: 1001;
}
/* #search-proximity::before {
    content: '';
    width: 2px;
    height: 40px;
    background: black;
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    cursor: inherit;
    user-select: none;
} */
#search-proximity>div.disabled * {
    color: lightgray !important;
}
#proximity-select .control__placeholder {
    /* color: #707070;  */
    color: black;
    font-size: 16px;
}

#search-proximity div.control__indicators path {
    color: #324EB3;
}

#search-proximity .control__option {
    line-height: 24px;
}

/* div.disabled::before {
    content: '';
    width: 2px;
    height: 40px;
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    cursor: inherit;
    user-select: none;
    background: lightgray !important;
} */

#main-search-clear {
    /* margin-left: -285px; */
}
#main-search-icon {
    /* background: #8FBC3F; */
    background: #F1D40A;    
    width: 41px;
    height: 42px;
}

#agency-svg-holder {
    display: inline-block;
    margin-left: 40px;
    border: 2px solid green;
    height: 1140px;
    width: 66%;
    max-width: 1200px;
    /* background-image: url("assets/organization_4-13-21.svg"); */
    /* background-image: url("assets/Federal agency organization 2-col.numbers.svg"); */
    background-image: url("assets/federal-organization-chart-01.svg");
    background-repeat: no-repeat;
}
#agency-svg-holder>button {
    margin: 5px;
    float: right;
}

#fragmentSize {
    width: 150px;
}

#inputMessage {
    color: blue;
    font-style: italic;
}

.clickable {
    cursor: pointer;
}

.options-container {
    float: right;
    margin-right: 20px !important;
}

#basic-modal {
    min-height: 0px;
    min-width: 0px;

    height: 150px;
    width: 400px;
}

.modal-button-space {
    user-select: none;
    overflow: hidden;
}

.wide-flex {
    display: flex;
    width: 100%;
}
.hide-button {
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    display: flex;

    font-weight: bold;

    cursor: pointer;
    /* display: inline-block; */
    color: blue;
    user-select: none;
}

.export {
    margin: auto 0;
}

.dropdown-group-end {
    margin-top: 2px;
    margin-bottom: 6px;
    border-bottom: 1px dotted blue;
}

.new {
    background-color: blue;
    color: white;
    border: 1px solid darkblue;
    border-radius: 50%;
    font-size: 12px;
    user-select: none;
}


/** Low width @media responsive css */


@media screen and (max-width: 1190px) {
    .input-bar-2>.surveyHolder, #results-bar-checkbox>.checkbox-text,
    div>.side-link, .options-container .results-download {
        line-height: normal;
    }
    #app-content, .content, .content .search-holder {
        min-height: 220px;
        min-width: 700px;
    }
    .search-bar-holder .search-header-2 {
        display: block;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }
    #main-search-bar {
        font-size: 16px;
    }
    .search-bar-holder #main-search-icon {
        height: 42px;
        margin-bottom: -22px;
    }
    .search-bar-holder #main-search-clear {
        margin-bottom: -7px;
    }
    #app-content .sidebar-filters {
        display: block;
        margin: 0 auto;
        width: 80%;
        min-width: 20%;
        max-width: 100%;
        margin-bottom: 20px;
        /* border: 2px solid rgba(218, 218, 218, 1);
        background: rgba(240, 239, 237, 1); */
    }
    .input-bar-left .sidebar-check-label {
        font-size: 16px;
    }
    .radio-holder .surveyRadio {
        display: block;
    }
    #tooltip4Container>div {
        margin-bottom: 10px;
    }
    #app-content .sidebar-results, .sidebar-filters {
    }
    .sidebar-filters .filter {
    }
    .sidebar-filters .sidebar-hr {
    }
    .filter .multi {
        min-width: 220px;
    }
    #app-content .sidebar-results {
        width: 100%;
        min-width: 20%;
        max-width: 100%;
    }
}