/** Special style rules just for when the new sidebar search + card format results is used */

.sidebar-filters {
    display: inline-block;
    /* position: fixed; /* Having a fixed sidebar that is also capable of growing vertically can clip off the page:
    would need to move up and shrink the main search bar and then have overflow-y: scroll and a smart max height */
    vertical-align: top;

    /* width: 22%; */
    width: calc((25vw) - 44px);
    min-width: calc(300px - 44px);
    max-width: calc(375px - 44px);
    /* padding: 1% 2%; */
    padding: 10px 10px;
    /* margin-top: 5%; */
    margin-bottom: 20px;
    /* margin-left: 2%; */
    margin-left: 15px;

    /* border: 2px solid rgba(218, 218, 218, 1);
    background: rgba(240, 239, 237, 1); */
}

.sidebar-filter, .filter {
    display: block;
}

.sidebar-hr:first-of-type {
    /* border: 1px solid rgba(153, 153, 153, 1); */
}

.sidebar-hr {
    /* border-bottom: 1px solid rgba(153, 153, 153, 1); */
    margin-top: 32px;
    /* margin-bottom: 16px; */
}

.sidebar-header {
    display: block;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

.sidebar-label {
    font-weight: bold;
    font-size: 14px;
}

.sidebar-label-date {
    font-weight: bold;
    font-size: 18px;
}

.sidebar-results {
    display: inline-block;
    /* margin-top: 5%; */
    /* width: 71%; */
    width: calc(100% - (25vw + 109px));
    min-width: calc(100% - (300px + 109px));
    max-width: calc(100% - (400px + 109px));

    /* For fixed sidebar */
    /* width: 60%;
    margin-left: 35%;  */
}

.sidebar-dates {
    padding-top: 8px;
    padding-left: 4px;
}

.sidebar-date {
    display: block;

    width: 170px;
    height: 34px;
    margin: 5px 0px;

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    background: rgba(255, 255, 255, 1);
}

.sidebar-date-text {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.sidebar-checkboxes {
    padding-top: 8px;
    padding-left: 3%;
}

.sidebar-checkbox {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-left: auto;
    cursor: pointer;
    
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

label.checkbox-text, span.checkbox-text {
    position: relative;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: middle;
    margin: auto;
}

.filter {
    /* padding-top: 5px; */
    margin: 5px 0px;
}

.filter>.multi {
    padding-top: 5px;
    padding-bottom: 7px;
}

.center {
    align-content: center;
}

/* Vertically align results header content */
.results-bar {
    display: inline-flex;
    flex-direction: column;

    /* border-top: 1px dashed black; */
    
    width: 100%;
    min-height: 50px;

    /* background: rgba(196, 196, 196, 1); */
    background-color: #b6c4c8;
}
#results-label {
    margin-left: 15px;
    line-height: normal;
    /* width: 40%; */
    /* white-space: nowrap;
    overflow: hidden !important; */
    text-overflow: ellipsis;
}
.results-bar>* {
    display: inline-flex;
    flex-direction: row;
    margin-left: 15px;
}
/* .results-bar>* { 
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    display: inline-block;
} */
.results-bar #results-label {
    display: block;
}
#results-bar-checkbox {
    line-height: 50px;
    height: 50px;
    /* margin: 0 auto; */
}
.results-download {
    color: blue;
    cursor: pointer;
}
.results-download:hover {
    text-shadow: 1px 1px 5px #888;
}

.search-header {
    margin-top: 152px; /* combines with .content's 102px margin for the header; so this is actually just 50 off of that */
    margin-left: 8%;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.search-header-2 {
    color: white;

    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    
    /* margin-left: 14%; */
    margin-left: calc(17px + 14%);
}
.search-holder {
    display: block;

    /* height: 200px; */
    height: 100%;
    min-width: 860px;
    /* width: 84%;

    margin-left: 8%;
    margin-right: 8%; */

    /* background: rgba(115, 114, 114, 1); */
    background: #9EABAE;
}
.search-bar-holder {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pre-checkbox-bar {
    display: inline-block;
    width: 10%;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
}
.pre-input-bar {
    display: inline-block;
    width: 14%;
    height: 64px;
    margin: 0 auto;
    margin-top: -8px;
    padding: 0;
    vertical-align: top;
}
.input-bar {
    display: inline-block;
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    padding: 0;
}
.input-bar>input, .input-bar>label {
    vertical-align: middle;
}


.input-bar-2 {
    display: flex;
    justify-content: space-between;
    width: 72%;
    line-height: 30px;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 5px;
}

.search-bar {
    display: inline-block;
    width: calc(72% - 140px); /* Account for self padding */
    height: 54px;
    margin: 0;
    
    /* background: #FFFFFF; */
    /* Background space for magnifying glass icon: 100% minus its width */
    /* background: linear-gradient(to right,  #FFFFFF 0%,#FFFFFF calc(100% - 54px),#8FBC3F calc(100% - 80px),#8FBC3F 100%); */
    background: linear-gradient(to right,  #FFFFFF 0%,#FFFFFF calc(100% - 54px),#F1D40A calc(100% - 80px),#F1D40A 100%);
    border: 4px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 4px; */

    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 30px;
    padding-right: 110px; /* space for icons */

}

.search-icon {
    /* background: #8FBC3F; */
    background: #F1D40A;
  
    padding: 7px;
    width: 39px;
    height: 41px;
    
    margin-left: -57px;
    margin-bottom: -18px;
  
    cursor: pointer;
  }

.cancel-icon {
  
    width: 24px;
    height: 26px;

    margin-left: -100px;
    margin-bottom: -3px;
    
    cursor: pointer;
}
.cancel-icon .circle {
    fill: white;
}
/* Parent hover: Child changes fill color */
.cancel-icon:hover .circle {
    fill:rgb(218, 218, 218);
}

.search-icon:hover path {
    fill: white;
    fill-opacity: 1;
}

#post-search-box-text {
    margin-right: -10px;
    display: inline-flex;
}

.sidebar-check-label {
    vertical-align: middle;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

    cursor: pointer;

    color: white;
}
input:checked {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
input:checked + .sidebar-check-label,
input:checked + .checkbox-text {
    font-weight: 600;
}

input:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#results-bar-checkbox>.checkbox-text {
    cursor: pointer;
}

.checkbox-container {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: auto;
    padding: 0;
}
.checkbox-container-flex {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.checkbox-container>input, .checkbox-container>label {
    cursor: pointer;
    vertical-align: middle;
}
.multi>.react-select__control {
    border-color: black;
    border-radius: 0px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}


#tooltip3Mark {
    position: absolute;
    left: 12%;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 111%;
    /* or 20px */
  
    color: #000000;
}
#tooltip3 {
    display: block;
    position: relative;
    
    margin: auto;
    margin-top: 16px;
}
#tooltip4Container {
    text-align: left;
    /* margin-left: 15px; */
    margin-left: 20%;

    font-size: 14px;

    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

#check1:hover {
    cursor: pointer;
}
.input-bar-left {
    margin-left: 212px;
}

.side-link {
    display: inline-block;
    
    user-select: none;
    text-decoration: underline;
    /* color: #64D6FA; */
    color: #324EB3;
    font-weight: 600;
    line-height: 30px;

    /* flex: 0 0 100%; */
    cursor: pointer !important;
}

.filters-toggle {
    float: right;
    width: 20px;
}
.filters-toggle, .map-filters-toggle {
    color: #0067B1;
    background-color: white;
    border: 1px solid black;

    cursor: pointer;

    user-select: none;
}
.filters-toggle:hover, .map-filters-toggle:hover {
    background-color: #0067B1;
    color: white;
}

#clear-filters {
    font-size: 14px;
}
.clear-filters-hidden {
    display: inline-block;
    width: 100%;
}