#chart-picker {
    width: 50%;
    margin: auto;
    padding-top: 25px;
}

.charts-holder {
    /* margin-top: 102px; */
}

.chart-holder {
    height: 1000px;
}

.chart-holder.larger {
    height: 2000px;
}

.chart-holder.largest {
    height: 3000px;
}

.chart-label {
    margin-left: 25px;
}